@model IEnumerable<YemekTarifleriWebProjesi.Models.YemekTarifleri>

@{
    ViewData["Title"] = "Tarifler";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}



<p>
    <a asp-action="TarifEkle">Yeni Tarif</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Yemekadi
            </th>           
            <th>
                Sira
            </th>
            <th>
                EklemeTarihi
            </th>
            <th>
                Aktif
            </th>
            
            <th>
               Kategori
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TarifId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Yemekadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sira)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EklemeTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategori.Kategoriadi)
            </td>
            <td>
                <a asp-action="TarifGetir" asp-route-id="@item.TarifId">Düzenle</a> |          
                <a asp-action="TarifSil" asp-route-id="@item.TarifId">Sil</a>|
                <a asp-action="TarifYorumlari" asp-route-id="@item.TarifId" onclick="return confirm('Tarif Silinsin Mi?')">Yorumlar</a> 
            </td>
        </tr>
}
    </tbody>
</table>
